@model IEnumerable<Category>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<a class="button basketCompletebtn" style="border-radius: 3px;" onclick="$('#exampleModal').modal('show')" href="#">Yeni Kategori Oluştur</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori</th>
            <th scope="col">Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescripton</td>
                <td>
                    <a class="button basketCompletebtn" style="border-radius: 3px; background-color:red !important;" asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="/Admin/CreateCategory">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni Kategori</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" name="CategoryId">
                        <label class="form-label">Kategori</label>
                        <input type="text" class="form-control" placeholder="Kategori" name="CategoryName">
                    </div>
                    <label class="form-label">Açıklama</label>
                    <input type="text" class="form-control" name="CategoryDescription" placeholder="Açıklama">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" onclick="$('#exampleModal').modal('hide')">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

}
