<div class="ticiContainer" id="divIcerik">
    <div class="" style="display: none;">
        <div id="loader"></div>
    </div>
    <div id="mainHolder_divBlocks">
        <div id="divCenterBlock" class="centerCount iletisimContent"></div>
        <div class="middleTopBlock">
        </div>
        <div>
            <div class="clear"></div>
            <div class="row iletisimLeft">
                <div class="categoryTitle" style="border-bottom: solid 7px #e4e4e4;">
                    <div class="categoryTitleText">
                        İLETİŞİM
                    </div>
                </div>
                <div class="span iletisimLeft" style="padding:10px;">
                    <div class="Left" style="float:left; width: 15%; line-height: 30px; min-height: 30px;">Firma Adı</div>
                    <div class="Center" style="width: 2%; float:left;">:</div>
                    <div class="Right" style="width: 83%; min-height: 30px; line-height: 30px;">
                        Dazzlecave
                    </div>
                </div>
                <div class="span iletisimLeftTelefon" style="padding:10px;">
                    <div class="Left" style="float:left; width: 15%;">Telefon </div>
                    <div class="Center" style="width: 2%; float:left;">:</div>
                    <div class="Right" style="width: 83%; min-height: 30px; line-height: 30px;">
                        123456789
                    </div>
                </div>
                <div class="span iletisimLeftAdres" style="padding:10px;">
                    <div class="Left" style="float:left; width: 15%;">Adres</div>
                    <div class="Center" style="width: 2%; float:left;">:</div>
                    <div class="Right" style="width: 83%; min-height: 30px; line-height: 30px;">
                        -
                    </div>
                </div>
                <div class="span iletisimLeftEposta" style="padding:10px;">
                    <div class="Left" style="float:left; width: 15%">E-posta</div>
                    <div class="Center" style="width: 2%; float:left;">:</div>
                    <div class="Right" style="width: 83%; min-height: 30px; line-height: 30px;">
                        <email address="iletisim@dazzlejewelry.com" link-text="iletisim@dazzlejewelry.com"></email>
                    </div>
                </div>
                <div class="categoryTitle" style="border-bottom: solid 7px #e4e4e4;">
                    </divclass="categoryTitle">
                </div>
            </div>
        </div>
    </div>
