@model JewelryListViewModel

<div class="ProductListContent">
    <div class="ProductList sort_4">
        <h1>@Model.CurrentCategory</h1>
        @foreach (var jewelry in Model.Jewelries)
        {
            <partial name="_jewelryCard" model="jewelry" />
        }
    </div>
</div>